# ==========================================
# .gitignore 文件说明
# 这里列出的文件/文件夹 Git 会自动忽略，不上传到 GitHub
# 一行 = 一条规则
# 井号 # 开头的是注释
# ==========================================


# ===== 编译产物（体积大又没用，不上传）=====
build/


# ===== VSCode 的一些配置文件 =====
# 只保留必要的，其他忽略
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/c_cpp_properties.json


# ===== 编译生成的文件 =====
*.o
*.obj
*.exe
*.dll


# ===== 系统自动生成的文件 =====
Thumbs.db
.DS_Store


# ===== 备份和临时文件 =====
*.bak
*.tmp
*~